{% extends "app_1/layout/base.html" %}
{% load staticfiles %}
{% load static %}

{% block content %}
<body style="background-color: white;">
<hr style="clear: both;">

<section name="input-status" id="input-status" class="button">
	<div class="container">
		<h1 id="title">
			<font face="Calibri">
				Update Status
			</font>
		</h1>
		<form id="form" method="POST" action="{% url 'update-status:add_status' %}">
			{% csrf_token %}
			{{ status_form}}
			<button id="button" type="submit" class="btn btn-primary">
				POST
			</button>
		</form>
	</div>
</section>
<br>
<section class="my-status" id="my-status">
	<div class="container">
		{% if status %}
			{% for data in status %}
					<div class="status-list">
						<div class="status-list-author">
							<img id="panda" src="{% static 'img/panda.jpg' %}"> <b>{{ author }}</b>
						</div>
						<div class="status-list-description row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								{{ data.description }}
							</div>
						</div>
						<div class="status-list-date">
							{{ data.created_date | date:"d M Y H:i:s" }}
						</div>
						<br>
					</div>
			{% endfor %}
		{% endif %}
	</div>
</section>
</body>
{% endblock %}
