{% extends "templates/base.html" %}

{% block content %}
<div class="container">
    <h3>Statistic</h3>
    <div class="row">
        <div class="col-sm-2">
            <div class="thumbnail">
                <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
            </div>
            <!-- /thumbnail -->
        </div>
        <div class="col-sm-10">
            <h3>{{name}}</h3>
            <div class="row">
                <div class="col-sm-6">
                    <h4>Friends</h4>
                    {{friends}}
                </div>
                <div class="col-sm-6">
                    <h4>Feed</h4>
                    {{feed}}
                </div>
            </div>
        </div>
    </div>
    <h4>Latest Post</h4>
    <div class="row">
        <div class="col-sm-1">
            <div class="thumbnail">
                <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
            </div>
            <!-- /thumbnail -->
        </div>
        <!-- /col-sm-1 -->

        <div class="col-sm-11">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>{{name}}</strong> <span class="text-muted">{{latestPostDate}}</span>
                </div>
                <div class="panel-body">
                    {{latestPostDescription}}
                </div>
                <!-- /panel-body -->
            </div>
            <!-- /panel panel-default -->
        </div>
        <!-- /col-sm-5 -->

    </div>
    <br />
</div>
{% endblock %}