{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<style>
footer {
	text-align: center;
	background-color: #cccccc;
	padding-top: 15px;
	padding-bottom: 5px;
}
</style>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="APP 3">
	<meta name="author" content="{{author}}">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

	<title>
		{% block title %} Add Friend
		{% endblock %}
	</title>
</head>
<body>
	<header>
		{% include "app_3/partials/header.html" %}
	</header>
	<content>
		{% block content %}

		{% endblock %}
	</content>
	<footer>
		{% block footer %}
		{% include "app_3/partials/footer.html" %}
		{% endblock %}
	</footer>
	
	<!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="application/javascript">
    $(function() {
        $('a[href*="#"]:not([href="#"])').click(function() {
            if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
                $('html, body').animate({
                    scrollTop: target.offset().top - 55
         }, 1000);
         return false;
       }
     }
   });
 });

        $(".to-do-list-delete-button").on("click", function(e) {
        var uid = $(this).data('id');
        location.href="delete/" + uid;
});
    </script>

</body>
</html>