#panda {
	max-height: 30px;
	border-radius: 20%;
}

.status-list-date {
	color: #bfbfbf;
}
#input-status {
	background-color: #00BFFF;
}

.col-xs-12 {
	word-wrap: break-word;
}

.col-sm-12 {
	word-wrap: break-word;
}

.col-md-12 {
	word-wrap: break-word;
}

footer {
	text-align: center;
	background-color: #cccccc;
	padding-top: 15px;
	padding-bottom: 5px;
}
#my-status {
  min-height: 500px;
}

#input-status {
	min-height: 250px;
}

#title {
	margin-top: 50px;
	margin-bottom: 20px;
	color: mediumspringgreen;
}

#button {
	margin-top: 10px;
	float: right;
}

.status-list {
	margin-top: 10px;
}