{% extends "app_3/layout/base.html" %}
{% block content %}
<body style = "background-color: white">
<hr style = "clear: both;">

<style>
	a {
		text-decoration: underline;
		color: white
	}
	a:hover{
		color: orange;
	}
	#title {
		color: mediumspringgreen;
	}
	#label1 {
		padding-top: 30px; 
		padding-right: 20px; 
		color: white;
	}
	#label2 {
		width: 100%; 
		padding-top: 30px
	}
	#button{
		background-color: #00BFFF; 
		margin-bottom: 20px;
		transition: all 0.5s;
		border-radius: 50px;
	}
	#button:hover {
		font-size: 120%;
		background-color: #00BFFF;
		-webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
		box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
	}
	#button:active {
	    background-color: #00BFD0;
	    box-shadow: 0 5px transparent;
	    transform: translateY(4px);
	}
	
	.alert-dismissable {
		width: 50%;
		font-size: 85%;
	}

	#add-input {
		margin-bottom: 50px;
	}

	.friends-list{
		text-align: center;
		border: 2px solid #000;
		background: background: #fff;
		height: 300px;
		position: relative;
		z-index: 15;
		margin-bottom: 50px;
		-webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
		-moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
		-o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
		box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
		transition: 0.5s all;
		-webkit-transition: 0.5s all;
		-moz-transition: 0.5s all;
		-o-transition: 0.5s all;
		background-color: #00BFFF;
		overflow: auto;
	}

	.flex {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;
		align-content: flex-start;
		margin-right: -15px;
		margin-left: -15px;
	}

	.flex-item {
		padding: 0 15px;
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: 25%;
	}

	.friends-list:hover {
		-webkit-box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
		-o-box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
		box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
		-webkit-transform: translate(0, -5px);
		-moz-transform: translate(0, -5px);
		-o-transform: translate(0, -5px);
		transform: translate(0, -5px);
	}

	#friend-image {
		border-radius: 100%;
		width: 110px;
		height: 110px;
		display: block;
		margin: 30px auto 20px;
	}

	.friends-list .friend-list-name {
		font-size: 24px;
		font-weight: 700;
		padding: 5px 5px 0 5px;
		color: black;
	}

	.friends-list .friend-list-url {
		padding: 10px 0 0;
		z-index: 15;
		text-align: center;
		overflow: auto;
	}

	@media only screen and (max-width: 768px) {
		.flex-item {
			padding: 0 15px;
			flex-grow: 0;
			flex-shrink: 0;
			flex-basis: 100%;
		}
	}

	@media only screen and (max-width: 1199px) {
		.flex-item {
			padding: 0 15px;
			flex-grow: 0;
			flex-shrink: 0;
			flex-basis: 50%;
		}
	}
	
	.friends-list .to-do-list-delete {
		background: red;
		color: #fff;
		padding: 10px;
		font-size: 16px;
		width: 100%;
		height: 50px;
		bottom: 1px;
		position: absolute;
		cursor: pointer;
		z-index: -1;
		-webkit-border-radius: 0 0px 2px 2px;
		-moz-border-radius: 0 0px 2px 2px;
		-o-border-radius: 0 0px 2px 2px;
		border-radius: 0 0px 2px 2px;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
		border: 1px solid #000;
		margin-bottom: none;
	}
	.friends-list:hover .to-do-list-delete {
		font-size: 150%;
	}

</style>
<body>
<section name = 'add-input' style="text-align: center; background-color: #00BFFF;" id = 'add-input' class= 'button'>
	<div class = 'container'>
	<h1 style = "text-align: left"><font face = "Verdana" color = "gray"> Add Friend </font></h1>
		<form style = 'width: 100%;" id = 'form' method="POST" action="{% url 'add-friend:add_friend' %}">
			<div>
				<table>
					<tbody>
						{% csrf_token %}
						{% for i in add_form %}
						<tr>
							<td id = 'label1'> {{i.label}} </td>
							<td id = 'label2'> {{i}} </td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<br>
				<button id = 'button' type = 'submit' class = "btn pull-right btn-primary"> 
					<font color="black"> Add Friend </font> </button>
		</form>
</section>


</section>
		{% if not valid and not first %}
	<div class="alert alert-danger alert-dismissable">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<strong>Sorry!</strong> You've added an invalid friend.
	</div>
	{% endif %}

</section>

<section name="my-list" id="my-list">
    <div class="container" id = 'contain'>
        <div class="flex">
            {% if friend %}
                {% for data in friend %}
                    <div class="flex-item">
                        <div class="friends-list">
                            <div class="friend-list-image">
                                <img id="friend-image" src="http://www.sbsc.in/images/dummy-profile-pic.png" alt="profile-image"/>
                            </div>
                            <div class="friend-list-name">
                                {{data.friend}}
                            </div>
                            <div class="friend-list-url">
                                <a id = "url" href="{{ data.url }}" target="_blank">{{ data.url }}</a>
                            </div>
							<div class="to-do-list-delete">
                                <div class="to-do-list-delete-button" id="delete" data-id="{{data.id}}" onclick="delete(data-id)">Delete</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
</body>
{% endblock %}