{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="APP 4">
	<meta name="author" content="{{author}}">

	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{static 'css/app_4.css'}">

	<title>
		{% block title %} Dashboard
		{% endblock %}
	</title>
</head>
<body>
	<header>
		{% include "app_4/partials/header.html" %}
	</header>
	<content>
		{% block content %}

		{% endblock %}
	</content>
	<footer>
		{% block footer %}
		{% include "app_4/partials/footer.html" %}
	</footer>

</body>
</html>
